<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reigster</title>
    <link rel="stylesheet" href="css/registerstyle.css">
</head>
<body>
    <section class="register_container">
        <form method="POST" action="/register-post">
            <header>Register</header>
            <div class="indv_label">
                <label for="name">Name</label>
            </div>
            <div class="indv_input">
                <input type="text" id="name" name="name" placeholder="Enter your name" />
            </div>
            <div class="indv_label">
                <label for="email">Email</label>
            </div>
            <div class="indv_input">
                <input type="email" id="email" name="email" placeholder="Enter your email" />
            </div>
            <div class="indv_label">
                <label for="password">Password</label>
            </div>
            <div class="indv_input">
                <input type="password" id="password" name="password" placeholder="Enter your password" />
            </div>
            <div class="indv_btn">
                <button>Submit</button>
            </div>
        </form>
    </section>


    <script>

    </script>
</body>
</html>